@model EveMarket.Core.Models.OrderSummary
<div class="row">
    <div class="col-md-12">
        <h2>
            Items to Purchase
            <i>
                <small>
                    (Last Updated: <time class="timeago" datetime="@Model.MarketItems.First().Pricing.LastUpdated.Value.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ssZ")">
                        @Model.MarketItems.First().Pricing.LastUpdated.Value.ToString("G")
                    </time>)
                </small>
            </i>
        </h2>
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <th>Item</th>
                    <th class="align-right">Qty</th>
                    <th class="align-right hidden-xs">Volume</th>
                    <th class="align-right">Total<span class="hidden-xs"> (Buy All)</span></th>
                    <th class="align-right hidden-xs"><abbr title="Values marked green save at least 1% if purchasing individual sell orders.">Total (Optimal)</abbr></th>
                </tr>
                @foreach (var item in Model.MarketItems)
                {
                    <tr>
                        <th>@item.Name</th>
                        <td class="align-right">@(Math.Ceiling(item.Qty).ToString("#,0"))</td>
                        <td class="align-right hidden-xs">@((item.Volume * item.Qty).ToString("#,0.00")) m<sup>3</sup></td>
                        <td class="align-right">
                            <a href="#" data-toggle="modal" data-target="#modal-@item.Id">
                                @item.TotalPrice.ToString("#,0.00")
                            </a>
                        </td>
                        <td class="align-right hidden-xs@(item.TotalPriceBest < item.TotalPrice * .99m ? " buy-best" : "")">@item.TotalPriceBest.ToString("#,0.00")</td>
                    </tr>
                }
                <tr>
                    <td class=""></td>
                    <th class="align-right">Subtotal</th>
                    <th class="align-right hidden-xs">@Model.TotalVolume.ToString("#,0.00") m<sup>3</sup></th>
                    <th class="align-right">@Model.PurchaseCost.ToString("#,0.00")</th>
                    <th class="align-right hidden-xs">@Model.PurchaseCostBest.ToString("#,0.00")</th>
                </tr>
                <tr>
                    <td></td>
                    <td class="hidden-xs"></td>
                    <th class="align-right">Shipping</th>
                    <th class="align-right">@((Model.SourceStagingShippingCost).ToString("#,0.00"))</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hidden-xs"></td>
                    <th class="align-right">Total</th>
                    <th class="align-right">@(Model.PredictedSell.ToString("#,0.00"))</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>