@model EveMarket.Web.Models.BlueprintCalculationResultsViewModel
<div class="col-md-12">
    <h2>Costs</h2>
    <table class="table">
        <tr>
            <th>Blueprint</th>
            <th>Quantity</th>
            <th>Cost Ea</th>
            <th>10%</th>
            <th>20%</th>
            <th>30%</th>
        </tr>
        <tbody>
        @foreach (var blueprint in Model.BlueprintResults)
        {
            <tr>
                <td>@blueprint.TypeName</td>
                <td>@blueprint.Qty</td>
                <td>@((blueprint.TotalPrice/blueprint.Qty).ToString("#,00.00")) ISK</td>
                <td>@((blueprint.TotalPrice/blueprint.Qty*1.1m).ToString("#,00.00")) ISK</td>
                <td>@((blueprint.TotalPrice/blueprint.Qty*1.2m).ToString("#,00.00")) ISK</td>
                <td>@((blueprint.TotalPrice / blueprint.Qty*1.3m).ToString("#,00.00")) ISK</td>
            </tr>
        }
        </tbody>
        <tr>
            <td></td>
            <th>Total</th>
            <td>@Model.BlueprintResults.Sum(bp => bp.TotalPrice).ToString("#,00.00")</td>
            <td>@Model.BlueprintResults.Sum(bp => bp.TotalPrice*1.1m).ToString("#,00.00")</td>
            <td>@Model.BlueprintResults.Sum(bp => bp.TotalPrice*1.2m).ToString("#,00.00")</td>
            <td>@Model.BlueprintResults.Sum(bp => bp.TotalPrice*1.3m).ToString("#,00.00")</td>
        </tr>
    </table>
    <h2>Materials</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Volume</th>
            <th>Cost</th>
        </tr>
        @foreach (var material in Model.OrderSummary.MarketItems.Union(Model.OreSummary.MarketItems))
        {
            <tr>
                <td>@material.Name</td>
                <td>@material.Qty.ToString("#,00")</td>
                <td>@material.TotalVolume.ToString("#,00")</td>
                <td>@material.TotalPrice.ToString("#,00.00")</td>
            </tr>
        }
        <tr>
            <td></td>
            <th></th>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h2>Blueprints</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Runs</th>
            <th>Install Cost (ea)</th>
            <th>Install Cost (total)</th>
        </tr>
        @foreach (var bpc in Model.BpcResults.Blueprints)
        {
            <tr>
                <td>@bpc.Name</td>
                <td>@bpc.Qty</td>
                <td>@bpc.JobCost.ToString("#,00.00")</td>
                <td>@((bpc.JobCost*bpc.Qty).ToString("#,00.00"))</td>
            </tr>
        }
    </table>
</div>